{% extends "baseadvokat.html" %} 
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4" style="color: #092646;">Detail Kasus</h2>
  {% if kasus %}
  <div class="card p-4">
    <p><strong>ID Kasus:</strong> {{ kasus[0] }}</p>
    <p><strong>Nama:</strong> {{ kasus[1] }}</p>
    <p><strong>Jenis Kelamin:</strong> {{ kasus[2] }}</p>
    <p><strong>Alamat:</strong> {{ kasus[5] }}</p>
    <p><strong>Nomor Telepon:</strong> {{ kasus[6] }}</p>
    <p><strong>Email:</strong> {{ kasus[7] }}</p>
    <p><strong>Perihal:</strong> {{ kasus[8] }}</p>
    <p><strong>Tipe Identitas:</strong> {{ kasus[3] }}</p>
    <p>
      <strong>Identitas:</strong>
      <!-- <a href="{{ url_for('static', filename=kasus[4]) }}" download> Download Identitas </a> -->
      <a href="{{ url_for('static', filename='uploads/' + kasus[4].split('/')[-1]) }}" download>Download Identitas</a>

    </p>
    <p><strong>Tanggal Pengaduan:</strong> {{ kasus[9] }}</p>
  </div>
  {% else %}
  <p class="text-danger text-center">Data tidak ditemukan.</p>
  {% endif %}
</div>
{% endblock %}
